.navbar {
  height: 70px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border-bottom: 1px solid #eaeaea;
}

/* LEFT */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 32px;
  height: 32px;
}

.logo-text {
  font-size: 20px;
  font-weight: 700;
  color: #0aa78f;
}

/* CENTER */
.navbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-input {
  width: 60%;
  padding: 10px 14px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 14px;
}

/* RIGHT */
.navbar-right {
  display: flex;
  gap: 12px;
}

.nav-btn {
  background: transparent;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.post-btn {
  background: #0aa78f;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}
